.button-wrapper
			
	.hamburger-menu

		button.search
			span.header-button-label Search
			i.fa.fa-lg.fa-search

		button.create 
			span.header-button-label Create
			i.fa.fa-lg.fa-plus 
			
		//- nav(style="display: none")
		//- 	ul
		//- 		li
		//- 			a(href="/" target="_self") Home
		//- 		li
		//- 			a(href="/build" target="_self") Build a new template
		//- 		li.donate
		//- 			a(href="https://www.patreon.com/kilgoretrout" target="_blank") Donate