.button-wrapper
			
	.hamburger-menu(ng-controller="SearchCtrl as search")

		//button.search
		//	i.fa.fa-2x.fa-search

		button.menu
			i.fa.fa-2x.fa-bars
			
		nav(style="display: none")
			ul
				li
					a(href="/" target="_self") Home
				li
					a(href="/build" target="_self") Build a new template
				li.donate
					a(href="https://www.patreon.com/kilgoretrout" target="_blank") Donate