#template-search-modal.modal-wrapper.search(ng-controller="SearchBoxCtrl as searchBox")
	.modal.skill-modal.flex
		.panel
			.modal-warning.warning(style="display: none")
				p Error.	

			i.fa.fa-times.fa-2x.close(ng-click="searchBox.dismissModal($event)")

			h2 Find a template

			p Choose up to 3 skills to find templates using those skills.

			input#skillSearch(type="text" placeholder="Start typing to search skills" ng-model="searchBox.skillName" ng-click="searchBox.displaySkillList()")
			
			.skill-list(style="display: none")
				ul
					li(ng-click="searchBox.addSkillTag(this)" ng-repeat="skill in searchBox.skills | filter: searchBox.skillName") {{ skill }}
			
			.skill-tags(ng-if="searchBox.skillTags")
				ul
					li(ng-repeat="skillTag in searchBox.skillTags") {{ skillTag }}

			button#searchBoxButton.btn-bottom(ng-click="searchBox.search()") Search
				i.fa.fa-caret-right