.flex-grow-1

footer.flex-end
	nav
		ul
			li 
				a(href="#") Create New Template
			li 
				a(href="#") Copy and Edit Tempalte
			li 
				a(href="#") UORenaissance.com
			li 
				a(href="#") UORForum.com
	p.copyright Copyright &copy; 2017 SnyderCreative, LLC. All rights reserved.