.flex-grow-1

footer.flex-end
	h3 UOPlanner
	nav
		ul
			li 
				a(href="/") Home
			li 
				a(href="/build") Create New Template
			li 
				a(href="http://uorenaissance.com" target="_blank") UORenaissance.com
			li 
				a(href="http://uorforum.com/" target="_blank") UORForum.com

	p.copyright 
		strong DISCLAIMER
		| : This is an independant project not affiliated with UORenaissance.com or UORForum.com. But, they rock, and you should check them out.
		
	p.copyright Copyright &copy; 2017 SnyderCreative, LLC. All rights reserved.