.flex-grow-1

footer.flex-end
	nav
		ul
			li 
				a(href="/build") Create New Template
			li 
				a(href="http://uorenaissance.com" target="_blank") UORenaissance.com
			li 
				a(href="http://uorforum.com/" target="_blank") UORForum.com
	p.copyright Copyright &copy; 2017 SnyderCreative, LLC. All rights reserved.