.modal-wrapper.search
	.modal.name-modal.flex
		.panel
			.modal-warning.warning(style="display: none")
				p Error.		
			i.fa.fa-times.fa-2x.close
			h2 Find a template
			p Search the collection of templates. You can search the template titles, or type in a skill to see all templates using that skill.
			input#searchBox(type="text" placeholder="Search the skill templates")
			button#searchButton.btn-bottom Search
				i.fa.fa-caret-right
