doctype html

html(lang="en-US" charset="utf-8")

	head

		link(href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat" rel="stylesheet")
		link(href="/css/master.min.css" rel="stylesheet")

	body.flex.flex-column
			
			header.flex.flex-row
				h1 Stealth Fencer
				#skillcap 700 skill cap

			main.flex.flex-row
				.panel.skills.flex.flex-column
					h2 Skills
					table
						thead
							tr
								th Name
								th Points
						tbody
							tr
								td Fencing
								td 100
							tr
								td Tactics
								td 100
							tr
								td Anatomy
								td 100
							tr
								td Healing
								td 100
							tr
								td Resisting Spells
								td 100
							tr
								td Hiding
								td 100
							tr
								td Stealth
								td 100

				.panel.perks.flex.flex-column 
					h2 Perks
					ul 
						li 25% Chance for Paralyzing Blow (Fencing + Anatomy)
						li 10% Melee Damage Bonus (Tactics)
				
			section#sharing
				h3 Share
				.link http://uoplanner.com/8fh37/stealth-fencer

			footer
				nav
					ul
						li 
							a(href="#") Create New Template
						li 
							a(href="#") Copy and Edit Tempalte
						li 
							a(href="#") UORenaissance.com
						li 
							a(href="#") UORForum.com	
				p.copyright Copyright &copy; 2017 SnyderCreative, LLC. All rights reserved.						