footer {
	margin-top: 2em;

	h3 {
		padding-bottom: 0;

		a:link, a:visited, a:active, a:hover {
			text-decoration: none;
			color: white;
		}
	}

	nav {
		ul {
			list-style: none;
			padding: 0;

			li {
				display: inline-block;
				padding: 0 1em;
				border-right: 2px solid white;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
					border: none;
				}

				a {
					font-size: .8em;

					&:link, &:visited {
						color: white;
					}

					&:active, &:hover {
						color: $yellow;
					}
				}
			}
		}
	}

	.copyright {
		font-size: .65em;
		opacity: .75;
	}
}

@media (max-width: 630px) {
	footer nav ul li {
		display: inherit;
		padding: 0;
		border-right: none;
	}
}