.button-wrapper {
	justify-self: flex-end;
	
	.hamburger-menu {
		display: inline-block;
		position: relative;

		button, a.button {
			position: relative;
			display: inline-block;
			min-width: auto;
			width: auto;
			text-align: center;
			line-height: 0;
			height: 38px;
			padding: 12px;

			i {
				margin-top: 3px;			
				margin-left: .5em;
				font-size: 14px;
			}

			&.search {
				margin-right: .5em;			
			}

			.header-button-label {
				font-size: 16px;
				font-weight: 700;
				display: inline-block;
			}
		}		
	
		nav {
			position: absolute;
			z-index: 100;
			right: 0;
			top: 64px;
			width: 200px;
			box-shadow: 0 5px 10px black;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				border: 1px solid white;
				background: $darkSlate;

				li {

					a {
						text-decoration: none;
						color: white;
						display: block;
						padding: .5em;
					}

					&:hover {
						background: $yellow;

						a {
							text-decoration: none;
							color: $darkSlate;
						}

					}

					&.donate {
						&:hover {
							background: $green;

							a {
								text-decoration: none;
								color: white;
							}

						}
					}
				}				
			}
		}

	}
}

@media (max-width: 630px) {
	body > header {
		h1 a {
			&:link,
			&:visited,
			&:active,
			&:hover {
				display: block;
				float: none;
			}
		}
	
	
		.button-wrapper {
			float: none !important;
	
			.hamburger-menu {
				button {
					right: 0;
				}
			}
		}

		#skillcap { display: none; }
	}	
}