body > header {

	h1 {
		border-bottom: 2px solid $yellow;

		a:link, a:visited, a:active, a:hover {
			text-decoration: none;
			color: white;
			display: inline-block;
		}

		input {
			font-size: inherit;
			border: none;
		}

	}

	#serverRules {
		line-height: 75px;
		font-size: 36px;

		.switcherLink {
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 18px;
			width: auto;
			line-height: 1em;
			display: block;
		}

		.shrink {
			font-size: 16px;
			font-weight: 700;
			margin-top: 1em;
			width: auto;
			line-height: 1.2em;
			text-decoration: none;
			color: $darkSlate;

			&:hover {
				color: white;
			}

			.clone-button-label {
				margin-right: .5em;
			}
		}
	}

	.button-wrapper {
		float: right;
	
		button, .button {
			font-size: .8em;
			display: block;
			width: 100%;
			color: $darkSlate;
			text-decoration: none;
			min-width: 150px;
			
			i {
				display: inline-block;
				margin-left: 2em;
			}

			&:hover, &:active {
				color: white;
			}

			&.donate {
				margin-top: 1em;
				background: #339933;
				color: white;

				&:hover {
					background: rgba(#393, .25);
				}
			}
		}
	}
}

@media (max-width: 630px) {
	body > header {
		#serverRules {
			line-height: 1.2em;
			
			
			.switcherLink {
				margin-top: 1em;
			}
		}
	}
}