body > header {

	h1 {
		border-bottom: 2px solid $yellow;

		a:link, a:visited, a:active, a:hover {
			text-decoration: none;
			color: white;
			display: inline-block;
		}

		input {
			font-size: inherit;
			border: none;
		}

	}

	#skillcap {
		line-height: 75px;
		font-size: 36px;
		display: inline-block;
	}

	.button-wrapper {
		float: right;
	
		button, .button {
			font-size: .8em;
			display: block;
			width: 100%;
			color: $darkSlate;
			text-decoration: none;
			min-width: 150px;
			
			i {
				display: inline-block;
				margin-left: 2em;
			}

			&:hover, &:active {
				color: white;
			}

			&.donate {
				margin-top: 1em;
				background: #339933;
				color: white;

				&:hover {
					background: rgba(#393, .25);
				}
			}
		}
	}
}