body > header {

	h1 {
		padding-right: 1em;
		margin-right: 1em;
		border-right: 2px solid $yellow;
		display: inline-block;

		input {
			font-size: inherit;
			border: none;
		}

	}

	#skillcap {
		line-height: 75px;
		font-size: 36px;
		display: inline-block;
	}

	.button-wrapper {
		float: right;
	
		button, .button {
			font-size: .8em;
			display: block;
			margin-right: 1em;
			width: 100%;
			color: $darkSlate;
			text-decoration: none;

			i {
				display: inline-block;
				margin-left: 2em;
			}

			&:hover, &:active {
				color: white;
			}

			&.donate {
				margin-top: 1em;
				background: #339933;
				color: white;

				&:hover {
					background: rgba(#393, .25);
				}
			}
		}
	}
}