.panel {
	background: $slate;
	padding: 2em;
	position: relative;
	margin: 1em 0 2em;

	table {
		margin-bottom: 20px;
		width: 100%;

		tr {
			height: 2em;

			th {
				text-align: left;
			}
		}
	}

}

.fifty {
	width: 50%;

	&:first-child {
		margin-right: 1em;
	}
	&:last-child {
		margin-left: 1em;
	}
}

.build {
	.panel {
		padding-bottom: 4em;
	}
}

@media (max-width: 990px) {
	main.flex-row {
		flex-direction: column;
	}

	.fifty {
		width: 100%;
		
		&:first-child,
		&:last-child {
			margin: 0;
		}
	}
}