.panel {
	background: $slate;
	padding: 2em;
	position: relative;
	margin: 1em 0 2em;

	&:first-child {
		margin-right: 1em;
	}

	&:last-child {
		margin-left: 1em;
	}

	table {
		margin-bottom: 20px;
		width: 100%;

		tr {
			height: 2em;

			th {
				text-align: left;
			}
		}
	}

}

.build {
	.panel {
		padding-bottom: 4em;
	}
}