#sharing {
	button {
		position: relative;
		width: auto;
		background: transparent;
		margin-left: .5em;
		color: $yellow;
	}

	.link {
		border: 2px solid $yellow;
		display: inline-block;
		padding: 1em;
		min-width: 400px;	

		&.inactive {
			color: rgba(white, 0.5);
			font-style: italic;
		}	
	}
}