.skills {
	td {
		.remove {
			display: inline-block;
			float: right;
			cursor: pointer;
		}

		&:hover {
			.remove {
				opacity: 1;
			}
		}
	}

	.skillTotalDisplay {
		display: inline-block;
		float: right;
		font-weight: 700;
		padding: .75em;
	}
}