.skill-modal {

	p {
		margin-bottom: 0 !important;
	}

	#skillRange {
		width: 500px;
	}

	.slider {
		.value {
			display: inline-block;
			font-size: 1.4em;
			position: relative;
			top: 6px;
			margin-left: 1em;
		}
	}
}