.skill-modal {

	#skillRange {
		width: 500px;
	}

	.slider {
		.value {
			display: inline-block;
			font-size: 1.4em;
			position: relative;
			top: 6px;
			margin-left: 1em;
		}
	}

	.skill-list {
		overflow-y: scroll;
		height: 10em;
		background: $darkSlate;
		color: white;
		border: 1px solid white;
		box-shadow: 0 2px 5px $darkSlate;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {		
				padding: .25em;

				&:hover {
					background: white;
					color: $darkSlate;
				}
			}
		}
	}
}