html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: $darkSlate;
	color: white;
	font-size: 16px;
	padding: 3em; 
	position: relative;
}

*, *:before, *:after {
	box-sizing: border-box;
}

* {
	font-family: 'Montserrat', sans-serif;
}

p {
	margin-top: 0;
}