button, .button {
	display: inline-block;
	border: none;
	background: $yellow;
	color: $darkSlate;
	padding: .75em;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em; 
	text-align: left;
	width:300px;
	cursor: pointer;

	i {
		display: inline-block;
		float: right;
	}

	&.linkButton {
		background: none;
		color: $yellow;
		padding: 0;

		&:hover {
			background: none;
			color: white;
		}

		&.templateName {
			padding-left: 1em;
			font-weight: 700;
			font-family: 'Merriweather';
		}
	}

	&:hover {
		color: $yellow;
		background: rgba($yellow, 0.2);
	}

	&.btn-bottom {
		background: white;
		margin-top: 1em;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;	

		&:hover {
			background: rgba(white, .3);
			color: white;
		}	

		&.left, &.right {
			width: 50%;
		}

		&.right {
			right: 0;
			left: auto;
		}

		&.action {
			background-color: $yellow;
			
			&:hover {
				background: rgba($yellow, 0.2);
			}
		}
	}
}