.modal-wrapper {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba($darkSlate, .75); 

	&.active {
		display: block;
	}

	.modal {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 200; 

		input[type=text] {
			width: 600px;
			font-size: 1.2em;
			padding: .5em;
			border: 0;
		}

		p {
			margin-top: 2em;
			margin-bottom: 1em;
		}

		.panel {
			box-shadow: 0 0 200px #000;
			margin: 0;
		}

		.close {
			position: absolute;
			color: white;
			top: 3px;
			right: 5px;
			cursor: pointer;

			&:hover {
				color: $yellow;
			}
		}
	}
} 