doctype html

html(lang="en-US" charset="utf-8")

	include includes/head.pug

	body.flex-column(ng-cloak ng-app="skillsApp")
		header
			h1 
				a(href="/") UOPlanner
				include includes/header-menu.pug
			#skillcap For alt-o-holics, by alt-o-holics

		main.flex.flex-row(ng-controller="HomeCtrl as home")
			.fifty
				.panel.skills
					h2 Newest Templates
					table
						thead
							tr
								th.flex Name
								th Date Created
						tbody
							tr(ng-repeat="recent in home.recentData")
								td <a href="{{recent.url}}" target="_self">{{ recent.name }}</a>
								td {{ recent.lastModified }}
			.fifty
				.panel.perks
					h2 News
					h3 July 4, 2017
					p
						| Search is here! Now you can search for templates by selecting the skills you're interested in.
					h3 April 24, 2017
					p 
						| Welcome to UOPlanner.com! Go ahead and make some skill templates and share freely.
						| If you have any questions, comments, or suggestions contact Kilgore Trout on the
						| <a href="http://uorforum.com" target="_blank">UORenaissance forums</a> or in IRC.
					p
						| You might notice the green "donate" button. I'm accepting donations to help 
						| pay for expenses associated with hosting this site. If I get enough donations to
						| cover costs for the year, I'll remove it. 

		include includes/footer.pug
