doctype html

html(lang="en-US" charset="utf-8")

	include includes/head.pug

	body.flex-column(ng-cloak ng-app="skillsApp" ng-controller="HomeCtrl as home")
		header
			h1 
				a(href="/" target="_self") UOPlanner
				include includes/header-menu.pug
			#serverRules {{home.uoplannerRules.ruleSet}} ({{home.uoplannerRules.skillTotal}} cap)
				button.linkButton.switcherLink(ng-click="home.switchRules(home.uoplannerRules.ruleSet === 'Outlands' ? 'Renaissance' : 'Outlands')")
					| Switch to {{home.uoplannerRules.ruleSet === 'Outlands' ? 'Renaissance' : 'Outlands'}}

		main.flex.flex-row
			.fifty
				.panel.skills
					h2 Newest Templates
					table
						thead
							tr
								th.flex Name
								th Date Created
						tbody
							tr(ng-repeat="recent in home.recentData")
								td <a href="{{recent.url}}" target="_self">{{ recent.name }}</a>
								td {{ recent.lastModified }}
			.fifty
				.panel.news
					h2 News
					h3 January 16, 2021
					p
						| Set up related skills so common skill combinations are quicker to add.
					hr
					p
						| Welcome to UOPlanner.com! The site is re-released with support for <a href="https://uooutlands.com" target="_blank">UO Outlands</a> in
						| addition to <a href="http://uorenaissance.com">UO Renaissance</a> rulesets.
					p 
						| Go ahead and make some skill templates and share freely.
						| If you have any questions, comments, or suggestions contact Kilgore Trout in UOR or UOO's Discord.

		include includes/footer.pug
