doctype html

html(lang="en-US" charset="utf-8" ng-cloak ng-app="skillsApp")

	include includes/head.pug

	body.flex.flex-column(ng-controller="SearchCtrl as search")
			
		header
			h1 
				a(href="/" target="_self") UOPlanner
				include includes/header-menu.pug
			#serverRules Search Results

		main.flex.flex-row
			.panel.search-results
				h2 Skill Matches
				p(ng-if="!search.skillResults.length") There were no skill matches.
				table(ng-if="search.skillResults.length")
					tr
						th Template Name
						th Date Created
						th Ruleset
					tr(ng-repeat="result in search.skillResults")
						td
							a(href="/share/{{result.templateId}}/{{result.urlName}}" target="_self") {{ result.name }}
						td {{ result.lastModified }}
						td {{ result.ruleSet }}

				h2 Template Name Matches
				p(ng-if="!search.nameResults.length") There were no template name matches. It's like there's more programming to be done. *cough*
				ul(ng-if="search.nameResults.length")
					li(ng-repeat="result in search.nameResults")
						a(href="{{result.url}}") {{ result.name }}
					
		include includes/footer.pug
