doctype html

html(lang="en-US" charset="utf-8" ng-app="skillsApp")

	include includes/head.pug

	body.flex.flex-column(ng-cloak ng-controller="ShareCtrl as share")
			
		header
			h1 
				a(href="/" target="_self") UOPlanner
				include includes/header-menu.pug			
			#serverRules {{share.templateName}} ({{share.ruleSet}})
				a.button.shrink.pull-right(href="/build/{{share.templateId}}/{{share.urlName}}" target="_self")
					span.clone-button-label Clone Template
					i.fa.fa-copy
				

		main.flex.flex-row
			.fifty
				.panel.skills
					h2 Skills
					table
						thead
							tr
								th Name
								th Points
						tbody
							tr(ng-repeat="skill in share.skills")
								td {{ skill.name }}
								td {{ skill.value }}

			.fifty
				.panel.perks
					h2 Perks
					ul 
						li Coming soon!
				
		section#sharing
			h3 Share
			.link {{ share.shareUrl }}
			button(data-clipboard-target="#sharing .link") Copy

		include includes/footer.pug
