doctype html

html(lang="en-US" charset="utf-8" ng-app="skillsApp")

	include includes/head.pug

	body.flex.flex-column(ng-controller="BuildCtrl as build")
		
		.warning(style="display: none")
			p  Error.		

		header
			h1#templateName(ng-click="build.displayTemplateNameModal()") New Template (click to rename)
			#skillcap 700 skill cap

		main.flex.flex-row.build
			.panel.skills.flex.flex-column.flex-grow-1
				h2 Skills
				
				table
					thead
						tr
							th Name
							th Points
					tbody
						tr(ng-if="build.skills.length === 0")
							td Add a skill!
							td
						tr(ng-if="build.skills.length > 0" ng-repeat="skill in build.skills")
							td {{skill.name}}
							td {{skill.value}}
										
				button(ng-click="build.displayAddSkillModal()") Add Skill
					i.fa.fa-caret-right

				button.btn-bottom(ng-click="build.saveTemplate()") Save Template
					i.fa.fa-caret-right

			.panel.perks.flex.flex-column.flex-grow-1
				h2 Perks
				ul 
					li Coming soon!
			
		section#sharing
			h3 Share
			.link.inactive Save template to generate sharing link
			button(style="display: none" data-clipboard-target="#sharing .link") Copy
				
		.modal-wrapper
			.modal.skill-modal.flex
				.panel
					.modal-warning.warning(style="display: none")
						p Error.	

					i.fa.fa-times.fa-2x.close(ng-click="build.dismissModal($event)")

					h2 Add Skill
					
					input#skillSearch(type="text" placeholder="Start typing to search skills" ng-model="build.skillName" ng-click="build.displaySkillList()")
					
					.skill-list(style="display: none")
						ul
							li(ng-click="build.setSkillInput(this)" ng-repeat="skill in build.skillList | filter: build.skillName") {{ skill }}
					
					p Click and drag to set skill value
					.slider
						input#skillRange(type="range" min="0" max="100" step="1" ng-model="build.rangeValue")
						.value {{build.rangeValue}}
					
					button.btn-bottom(ng-click="build.addSkill({ name: build.skillName, value: build.rangeValue })") Add Skill to Template
						i.fa.fa-caret-right

		.modal-wrapper
			.modal.name-modal.flex
				.panel
					.modal-warning.warning(style="display: none")
						p Error.		
					i.fa.fa-times.fa-2x.close(ng-click="build.dismissModal($event)")
					h2 Edit Template Name
					input#templateName(type="text" placeholder="Enter new template name" ng-model="build.templateName")
					button.btn-bottom(ng-click="build.setTemplateName(build.templateName)") Change Template Name
						i.fa.fa-caret-right

		include includes/footer.pug
