doctype html

html(lang="en-US" charset="utf-8")

	include includes/head.pug

	body.flex.flex-column(ng-app="skillsApp")
			
		header
			h1 UOPlanner
			#skillcap For alt-o-holics, by alt-o-holics

		main.flex.flex-row(ng-controller="ShareCtrl as share")
			.panel.skills.flex.flex-column.flex-grow-1
				h2 Newest Templates
				table
					thead
						tr
							th Name
							th Date Created
					tbody
						tr
							td Fencing
							td 100
						tr
							td Tactics
							td 100
						tr
							td Anatomy
							td 100
						tr
							td Healing
							td 100
						tr
							td Resisting Spells
							td 100
						tr
							td Hiding
							td 100
						tr
							td Stealth
							td 100

			.panel.perks.flex.flex-column.flex-grow-1
				h2 News
				h3 April 24, 2017
				p 
					| Welcome to UOPlanner.com! Go ahead and make some skill templates and share freely.
					| If you have any questions, comments, or suggections contact Kilgore Trout on the
					| <a href="http://uorforum.com" target="_blank">UORenaissance forums</a>.

		section#sharing
			h3 Share
			.link http://uoplanner.com/8fh37/stealth-fencer

		include includes/footer.pug
