doctype html

html(lang="en-US" charset="utf-8")

	include includes/head.pug

	body.flex.flex-column(ng-app="skillsApp")
			
		header
			h1 UOPlanner
			#skillcap For alt-o-holics, by alt-o-holics
			.button-wrapper
				a.button(href="/build") Create Template
					i.fa.fa-caret-right
				a.button.donate(href="https://www.patreon.com/kilgoretrout" target="_blank") Donate
					i.fa.fa-caret-right

		main.flex.flex-row(ng-controller="HomeCtrl as home")
			.panel.skills.flex.flex-column.flex-grow-1
				h2 Newest Templates
				table
					thead
						tr
							th.flex Name
							th Date Created
					tbody
						tr(ng-repeat="recent in home.recentData")
							td <a href="{{recent.url}}">{{ recent.name }}</a>
							td {{ recent.lastModified }}

			.panel.perks.flex.flex-column.flex-grow-1
				h2 News
				h3 April 24, 2017
				p 
					| Welcome to UOPlanner.com! Go ahead and make some skill templates and share freely.
					| If you have any questions, comments, or suggections contact Kilgore Trout on the
					| <a href="http://uorforum.com" target="_blank">UORenaissance forums</a>.

		include includes/footer.pug
